:root {
  --primary: #000000;
  --background: #000000;
  --secondary-bg: #0a0a0a;
  --secondary-border: #242424;
  --secondary-bg-hover: #1f1f1f;
  --gray: #847f90;
  --gray-hover: #171717;
  --primary-hover: #555555;
  --link-gray: #9b9b9b;
  --navigation-bg: #020202;
  --link-gray-hover: #1f1f1f;
  --gray: #e1e1e1;
  --gray-border: #2e2e2e;
  --dropdown-bg: #010101;
  --tab-bg: #1f1f1f;
  --white: #fcfcfc;
  --navbar-height: 64px;
  --primary-bg: #ededed;
  --primary-bg-hover: #cccccc;
  --primary-text: #0e0e0e;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}

.navigation > li:hover .dropdown,
.navigation > li:focus-within .dropdown {
  display: block;
}





.list-items-with-description li svg {
  stroke: var(--white);
  stroke-width: 1px;
  width: 1.5rem;
  height: 1.5rem;
}

.item-title p {
  font-size: 0.7rem;
  white-space: nowrap;
  color: var(--link-gray);
}

.list-items-with-description li:hover p {
  color: var(--white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


@media (min-width: 1024px) {
  .dropdown__wrapper {
    position: absolute;
    top: 0;
    right: -60%;
    padding-top: 3.75rem;
  }
  
  .dropdown {
    border-radius: 0.5rem;
    background: var(--dropdown-bg);
    display: none;
    padding: 0.5rem;
    width: 100%;
    max-width: 36rem;
    border: 1px solid var(--gray-border);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
  }
}