@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  
  background: #000;
  
}
.gradient {
  background: linear-gradient(
    38deg,
    #0b0b0b 0%,
    #0b0b0b 35%,
    #5337c52d 50%,
    /* Violeta con opacidad */ #0b0b0b 70%,
    #0b0b0b 100%
  );
}

.spline{
  height: 10em;
}