.fondoIcono{
    background-color: transparent !important;
    border: 2px solid !important; 
    border-color:var(--color-text-gray);
}
.lineaVioleta{
    background-color: var( --color-text-gray);
}